nav.navigation
  a.navigation__item(href='#goods', rel='m_PageScroll2id')
    | Каталог
  a.navigation__item(href='#about', rel='m_PageScroll2id')
    | Как мы работаем
  a.navigation__item(href='#advantages', rel='m_PageScroll2id')
    | Материалы и комплектующие   
  a.navigation__item(href='#comments', rel='m_PageScroll2id')
    | Отзывы
  a.navigation__item(href='#contacts', rel='m_PageScroll2id')
    | Контакты