nav.navigation
  a.navigation__item(href='#goods', ref='m_PageScroll3id')
    | Каталог
  a.navigation__item(href='#about', ref='m_PageScroll3id')
    | Как сделать заказ?
  a.navigation__item(href='#team', ref='m_PageScroll3id')
    | Наша команда    
  a.navigation__item(href='#advantages', ref='m_PageScroll3id')
    | Материалы и комплектующие
  a.navigation__item(href='#comments', ref='m_PageScroll3id')
    | Отзывы
  a.navigation__item(href='#contacts', ref='m_PageScroll3id')
    | Контакты