.popup-product__img-box
  margin 15px
  padding 25px
  background lightColor
  border-radius 5px
  box-shadow 0 0 5px themeOverlay
  display flex
  justify-content center
  align-items center
  @media only screen and (min-width: sm)
    width calc(50% - 45px)
    height 300px