head
  meta(http-equiv='content-type', content='text/html', charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge') 
  title Студия авторской мебели WheelHouse
  link(rel='stylesheet', href='libs/css/vendor.min.css')
  link(rel='stylesheet', href='assets/css/common.min.css')
