.section__title
  box-shadow 0 0 5px themeOverlay
  width 100%
  font-size subtitleSize
  padding 5px 15px
  text-align center
  @media only screen and (min-width: xs)
    width 50%
    text-align right
  @media only screen and (min-width: sm)
    width 40%
  @media only screen and (min-width: md)
    width 30%
.section__title_algin_right
  box-shadow 0 0 5px themeOverlay
  width 100%
  font-size subtitleSize
  padding 5px 15px
  text-align center
  @media only screen and (min-width: xs)
    width 50%
    text-align right
  @media only screen and (min-width: sm)
    width 60%
.section__title_algin_left
  box-shadow 0 0 5px themeOverlay
  width 100%
  font-size subtitleSize
  padding 5px 15px
  text-align center
  @media only screen and (min-width: xs)
    width 50%
    text-align right
  @media only screen and (min-width: sm)
    text-align left
    width 60%  