.section__half
  width 100%
  display flex
  flex-direction column
  @media only screen and (min-width: sm)
    width 50%
.section__half_align_end
  width 100%
  display flex
  flex-direction column
  @media only screen and (min-width: sm)
    align-items flex-end
    width 50%