@font-face
  font-family Roboto
  src url('../fonts/roboto/roboto_regular.eot')
  src url('../fonts/roboto/roboto_regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/roboto/roboto_regular.woff2') format('woff2'),
      url('../fonts/roboto/roboto_regular.woff') format('woff'),
      url('../fonts/roboto/roboto_regular.ttf') format('truetype')
  font-style normal
  font-weight normal
@font-face
  font-family Roboto Bold
  src url('../fonts/roboto_bold/roboto_bold.eot')
  src url('../fonts/roboto_bold/roboto_bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/roboto_bold/roboto_bold.woff2') format('woff2'),
      url('../fonts/roboto_bold/roboto_bold.woff') format('woff'),
      url('../fonts/roboto_bold/roboto_bold.ttf') format('truetype')
  font-style normal
  font-weight normal 
@font-face
  font-family Roboto Light
  src url('../fonts/roboto_light/roboto_light.eot')
  src url('../fonts/roboto_light/roboto_light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/roboto_light/roboto_light.woff2') format('woff2'),
      url('../fonts/roboto_light/roboto_light.woff') format('woff'),
      url('../fonts/roboto_light/roboto_light.ttf') format('truetype')
  font-style normal
  font-weight normal