// Fonts
baseFont = 'Roboto Light', sans-serif;
baseBoldFont = 'Roboto', sans-serif;
baseItalicFont = 
baseBoldItalicFont = 
titleFont = 'Roboto', sans-serif;
titleBoldFont = 'Roboto Bold', sans-serif;
//titleItalicFont = 
//titleItalicBoldFont = 
//addFont = 'Roboto Light', sans-serif;

// Fonts Size
titleSize = 24px;
subtitleSize = 18px;
baseSize = 16px;
sSize = 16px;
xsSize = 14px;
xxsSize = 12px;

lineHeight = 1.5

// Colors
baseColor = #333333
lightColor = #FEFEFE
themeColor = #1A86AD
fonColor = #F6F6F6

// Height & width
containerWidth = 1200px
headerFullHeight = 300px
headerHeight = 50px
mainHeight = 250px
siteMinWidth = 320px
siteMaxWidth = 1920px

// Breakpoints
xs = 481px
sm = 768px
md = 992px
lg = 1200px
navigationBreakPoint = sm

// Overlays
darkOverlay = rgba(51, 51, 51, 0.55)
lightOverlay = rgba(255, 255, 255, 0.8)
themeOverlay = rgba(26, 134, 173, 0.8)