.comments__box
  position relative
  width 240px
  height 290px
  background fonColor
  @media only screen and (min-width: xs)
    width 400px
  @media only screen and (min-width: sm)  
    width 580px