section.section
  .section__half-box
    .section__half
      h2.section__title_algin_right#about
        | Как мы работаем
      .section__content_direction_column.section__box_algin_end
        .section__box_size_fix
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
    .section__half_align_end
      h2.section__title_algin_left#advantages
        | Материалы и комплектующие
      .section__content_direction_column
        .section__box_size_fix
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
          p
            | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
