section.section
  h2.section__title_algin_right#advantages
    | Материалы и комплектующие
  .section__content1
    p
      | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
    p
      | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
    p
      | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
    p
      | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
    p
      | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
    p
      | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
    p
      | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
    p
      | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
    p
      | Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse