section.section
  h2.section__title#comments
      | Отзывы
  .container
    .section__content.comments
      .comments__box#comments
        .comments__arrow-left#arrow-left
          i.fa.fa-2x.fa-arrow-circle-left(aria-hidden='true')
        .comments__arrow-right#arrow-right
          i.fa.fa-2x.fa-arrow-circle-right(aria-hidden='true')
        .comments__one(comment="1")
          img.comments__img(src='assets/images/main/main-01.jpg').hidden-xs
          .comments__comments
            p 1 Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
        .comments__one(comment="2").hidden.hidden-xs
          img.comments__img(src='assets/images/main/main-02.jpg')
          .comments__comments
            p 2 Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
        .comments__one(comment="3").hidden.hidden-xs
          img.comments__img(src='assets/images/main/main-03.jpg')
          .comments__comments
            p 3 Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse
        .comments__one(comment="4").hidden.hidden-xs
          img.comments__img(src='assets/images/main/main-04.jpg')
          .comments__comments
            p 4 Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse Студия авторской мебели WheelHouse