section.section
  h2.section__title#goods
    | Каталог
  .container
    .section__content.goods
      .goods__one.flip
        .flip__front
          img.goods__img(src='assets/images/main/main-01.jpg')
        .flip__back
          .goods__name Диван "Лялялялял"
          .goods__description Короткое описание. Короткое описание. Короткое описание. Короткое описание...
          .goods__detail Подробнее
      .goods__one.flip
        .flip__front
          img.goods__img(src='assets/images/main/main-02.jpg')
        .flip__back
          .goods__name Диван "Лялялялял"
          .goods__description Короткое описание. Короткое описание. Короткое описание. Короткое описание...
          .goods__detail Подробнее
      .goods__one.flip
        .flip__front
          img.goods__img(src='assets/images/main/main-03.jpg')
        .flip__back
          .goods__name Диван "Лялялялял"
          .goods__description Короткое описание. Короткое описание. Короткое описание. Короткое описание...
          .goods__detail Подробнее
      .goods__one.flip
        .flip__front
          img.goods__img(src='assets/images/main/main-04.jpg')
        .flip__back
          .goods__name Диван "Лялялялял"
          .goods__description Короткое описание. Короткое описание. Короткое описание. Короткое описание...
          .goods__detail Подробнее
      .goods__one.flip
        .flip__front
          img.goods__img(src='assets/images/main/main-05.jpg')
        .flip__back
          .goods__name Диван "Лялялялял"
          .goods__description Короткое описание. Короткое описание. Короткое описание. Короткое описание...
          .goods__detail Подробнее
      .goods__one.flip
        .flip__front
          img.goods__img(src='assets/images/main/main-06.jpg')
        .flip__back
          .goods__name Диван "Лялялялял"
          .goods__description Короткое описание. Короткое описание. Короткое описание. Короткое описание...
          .goods__detail Подробнее
      .goods__one.flip
        .flip__front
          img.goods__img(src='assets/images/main/main-07.jpg')
        .flip__back
          .goods__name Диван "Лялялялял"
          .goods__description Короткое описание. Короткое описание. Короткое описание. Короткое описание...
          .goods__detail Подробнее
      .goods__one.flip
        .flip__front
          img.goods__img(src='assets/images/main/main-08.jpg')
        .flip__back
          .goods__name Диван "Лялялялял"
          .goods__description Короткое описание. Короткое описание. Короткое описание. Короткое описание...
          .goods__detail Подробнее
      .goods__one.flip
        .flip__front
          img.goods__img(src='assets/images/main/main-09.jpg')
        .flip__back
          .goods__name Диван "Лялялялял"
          .goods__description Короткое описание. Короткое описание. Короткое описание. Короткое описание...
          .goods__detail Подробнее
      .goods__one.flip
        .flip__front
          img.goods__img(src='assets/images/main/main-10.jpg')
        .flip__back
          .goods__name Диван "Лялялялял"
          .goods__description Короткое описание. Короткое описание. Короткое описание. Короткое описание...
          .goods__detail Подробнее
      .goods__one.flip
        .flip__front
          img.goods__img(src='assets/images/main/main-11.jpg')
        .flip__back
          .goods__name Диван "Лялялялял"
          .goods__description Короткое описание. Короткое описание. Короткое описание. Короткое описание...
          .goods__detail Подробнее
  