section.section.main#main
  .animation-box.animation-right
    img.main__img(src='assets/images/main/main-01.jpg')
    img.main__img(src='assets/images/main/main-02.jpg')
    img.main__img(src='assets/images/main/main-03.jpg')
    img.main__img(src='assets/images/main/main-04.jpg')
    img.main__img(src='assets/images/main/main-05.jpg')
    img.main__img(src='assets/images/main/main-06.jpg')
    img.main__img(src='assets/images/main/main-07.jpg')
    img.main__img(src='assets/images/main/main-08.jpg')
    img.main__img(src='assets/images/main/main-09.jpg')
    img.main__img(src='assets/images/main/main-10.jpg')
    img.main__img(src='assets/images/main/main-11.jpg')
    img.main__img(src='assets/images/main/main-12.jpg')
      
      
  
    